[Unit]
Description=ShellDB mount loopback devices
Documentation=https://www.linux.org
After=network.target
Before=shelldb.service
PartOf=shelldb.service

[Service]
Type=simple
User=shelldb
Group=shelldb
ExecStart=/usr/bin/perl /opt/shelldb/cgi-db/open  '{"db":"*"}' pretty=false
ExecStop=/usr/bin/perl  /opt/shelldb/cgi-db/close '{"db":"*"}' pretty=false
RemainAfterExit=yes
KillMode=mixed
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target